/*#region ---------- ----------* MY CONFIG *---------- ---------- ----- */
html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --texColor: #111;
    --bgColor: hsl(0, 0%, 92%);
    --hgbColor: hsl(345, 100%, 50%);
    --kgColor: hsl(210, 100%, 50%);
    --ertColor: hsl(265, 100%, 50%);
    --drbColor: hsl(280, 100%, 50%);
    --ferColor: hsl(315, 100%, 35%);

    background-color: var(--bgColor);
}
body {
    min-height: 100dvh;
    margin: auto;
}
nav,
footer,
main,
article,
section,
div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
div {
    width: unset;
}
span {
    display: inline-block;
}
input {
    background-color: hsl(0, 0%, 98%);
}
/* *For Development */
/*#endregion ---------------------* MY CONFIG *--------------------------- */
/*#region ---------------------* MAIN *--------------------------- */
main {
    max-width: 1000px;
    position: relative;
    justify-content: flex-start;
    margin: auto;
    /* padding: 0 0.25rem; */
}
.boxGroup1, .boxGroup2 {
    padding: 1rem 0rem;
    max-width: 720px;
    row-gap: 0.25rem;
}
.box {
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    & .titleWrap {
        width: 6.25rem;
        align-items: start;
        & p {
            text-align: left;
            width: 100%;
        }
    }
    & .numberWrap {
        width: 6rem;
        align-items: start;
        & input {
            height: 1.6rem;
            width: 100%;
        }
    }
    & .rangeWrap {
        width: 80%;
        max-width: 400px;
        & input {
            width: 90%;
        }
    }
}
input[type=date] {
    height: 2rem;
    width: 8rem;
}
.dates {
    justify-content: start;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.dateBox {
    /* flex-flow: row; */
    flex-grow: 1;
}
.write {
    width: min(98%,800px);
    & p {
        padding:2px;
        text-align: left;
    }
    & .stc {
        /* font-size: 0.9rem; */
    }
    & section {
        display: flex;
        flex-flow: row;
        justify-content: start;
    }
    .paramtext {
        span& {
            font-weight: 600;
            background-color: hsl(0, 0%, 92%);
        }
        .fer& {
            width: 3.5rem;
        }
        .ferDate& {
            width: 5rem;
        }
        .hgb& {
            width: 2rem;
        }
        .hgbDate& {
            width: 5.2rem;
        }
        .kg& {
            width: 2.5rem;
        }
        &.drbPk, &.ertPk {
            width: 2.5rem;
        }
    }
}
.bordered {
    margin-top: 0.25rem;
    border: 3px solid currentColor;
}
/* ----- ---------- ----------* colors *---------- ---------- ----- */
.hgb, .hgbDate {
    color: hsl(345, 100%, 50%);
    accent-color: hsl(345, 100%, 50%);
}
.kg {
    color: hsl(210, 100%, 50%);
    accent-color: hsl(210, 100%, 50%);
}
.ert, .ertPk {
    color: hsl(265, 100%, 50%);
    accent-color: hsl(265, 100%, 50%);
}
.drb, .drbPk {
    color: hsl(280, 100%, 50%);
    accent-color: hsl(280, 100%, 50%);
}
.fer, .ferDate {
    color: hsl(315, 100%, 35%);
    accent-color: hsl(315, 100%, 35%);
}
.plain {
    color: #111;
}
/*#endregion ---------------------* MAIN *--------------------------- */
/*#region ---------------------* MEDIA *--------------------------- */
@media screen and (width > 720px) {
    html {}
    main {
        pad: 0 0rem;
    }
}
@media screen and (width > 1000px) {
    html {}
    main {}
}
@media screen and (width > 1200px) {
    html {
        /* font-size: 18px; */
    }
    main {}
}
@media screen and (width > 1600px) {
    html {}
    main {}
}
/*#endregion ---------------------* MEDIA *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* UTILS *--------------------------- */
.hiddenF, .labelInput label, .ertPk.box, .drbPk.box {
    display: none !important;
}
.hidden {
    display: none;
}
.row {
    flex-direction: row;
}
/*#endregion ---------------------* UTILS *--------------------------- */
body * {
    /* border: 1px dotted red; */
}