/*#region ---------- ----------* MY CONFIG *---------- ---------- ----- */
html {
    font-size: 16px;
    background-color: #eaeaea;
    color: #111;
}
body {
    min-height: 100dvh;
    margin: auto;
}
nav,
footer,
main,
article,
section,
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
main {
    height: 100dvh;
    position: relative;

    & section {
        width: 100%;
    }
}
/* *For Development */
/*#endregion ---------------------* MY CONFIG *--------------------------- */
/*#region ---------------------* MAIN *--------------------------- */

main {
    width: min(100%, 1200px);
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.hgb {
    color: hsl(345, 100%, 50%);
    accent-color:  hsl(345, 100%, 50%);
}
.hgbDate {
    color: hsl(345, 100%, 50%);
    accent-color:  hsl(345, 100%, 50%);
}
.kg {
    color: hsl(210, 100%, 50%);
    accent-color:  hsl(210, 100%, 50%);
}
.ert {
        color: hsl(265, 100%, 50%);
    accent-color:  hsl(265, 100%, 50%);
}
.ertPk {
        color: hsl(265, 100%, 50%);
    accent-color:  hsl(265, 100%, 50%);
}
.drb {
        color: hsl(280, 100%, 50%);
    accent-color:  hsl(280, 100%, 50%);
}
.drbPk {
        color: hsl(280, 100%, 50%);
    accent-color:  hsl(280, 100%, 50%);
}
.fer {
        color: hsl(315, 100%, 35%);
    accent-color:  hsl(315, 100%, 35%);
}
.ferDate {
        color: hsl(315, 100%, 35%);
    accent-color:  hsl(315, 100%, 35%);
}













/*#endregion ---------------------* MAIN *--------------------------- */
/*#region ---------------------* MEDIA *--------------------------- */
@media screen and (width > 720px) {
    html {}
}
@media screen and (width > 1000px) {
    html {}
}
@media screen and (width > 1200px) {
    html {
        font-size: 18px;
    }
}
@media screen and (width > 1600px) {
    html {}
}
/*#endregion ---------------------* MEDIA *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* UTILS *--------------------------- */
.hidden {
    display: none;
}
.row {
    flex-direction: row;
}
body * {
    /* border: 1px dotted red; */
}
.devBorders {
    border: 1px dotted red;
}
#devBordersButton {
    background-color: red;
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
}
/*#endregion ---------------------* UTILS *--------------------------- */